GeestioneValutazioni/force-app/main/default/flows/Invio_Notifica.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MandaNotifica</name>
        <label>MandaNotifica</label>
        <locationX>1413</locationX>
        <locationY>401</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CollectionIDsVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>&apos;Nuova Valutazione completata.&apos;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>&apos;Hai una nuova Valutazione, fai click sulla notifica per visualizzarla.&apos;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AddIDs</name>
        <label>AddIDs</label>
        <locationX>1244</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>CollectionIDsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Dipendente_Valutato__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MandaNotifica</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision per controllare se la valutazione è stata completata.</description>
        <name>Valutazione_completata_o_no</name>
        <label>Valutazione completata o no</label>
        <locationX>832</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>Completata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completata</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambia_Record_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Completata</label>
        </rules>
    </decisions>
    <description>Flow per inviare notifica al Dipendente al completamento della sua Valutazione.</description>
    <environments>Default</environments>
    <interviewLabel>Invio Notifica {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invio Notifica</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNotificationType</name>
        <label>GetNotificationType</label>
        <locationX>1123</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddIDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valutazione_Dipendente</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cambia_Record_Type</name>
        <label>Cambia Record Type</label>
        <locationX>995</locationX>
        <locationY>401</locationY>
        <connector>
            <targetReference>GetNotificationType</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Qy000003e713IAA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>714</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Valutazione_completata_o_no</targetReference>
        </connector>
        <object>Valutazione__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionIDsVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
