GeestioneValutazioni/force-app/main/default/flows/Nuova_Valutazione.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Nuova Valutazione {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nuova Valutazione</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Valutazione</name>
        <label>Create Valutazione</label>
        <locationX>840</locationX>
        <locationY>362</locationY>
        <inputAssignments>
            <field>Punteggio_Capacit_Comunicative__c</field>
            <value>
                <elementReference>Punteggio_Capacit_Comunicative2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Punteggio_Collaborazione__c</field>
            <value>
                <elementReference>Punteggio_Collaborazione2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Punteggio_Competenze_Tecniche__c</field>
            <value>
                <elementReference>Punteggio_Competenze_Tecniche2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Punteggio_Obiettivi_Raggiunti__c</field>
            <value>
                <elementReference>Punteggio_Obiettivi_Raggiunti2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Qy000003e6rNIAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In bozza</stringValue>
            </value>
        </inputAssignments>
        <object>Valutazione__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Custom_Create</name>
        <label>Custom Create</label>
        <locationX>840</locationX>
        <locationY>209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Valutazione</targetReference>
        </connector>
        <fields>
            <name>Custom_Create_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Custom_Create_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Punteggio_Obiettivi_Raggiunti2</name>
                    <dataType>Number</dataType>
                    <fieldText>Punteggio Obiettivi Raggiunti</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Punteggio_Competenze_Tecniche2</name>
                    <dataType>Number</dataType>
                    <fieldText>Punteggio Competenze Tecniche</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Punteggio_Capacit_Comunicative2</name>
                    <dataType>Number</dataType>
                    <fieldText>Punteggio Capacità Comunicative</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Punteggio_Collaborazione2</name>
                    <dataType>Number</dataType>
                    <fieldText>Punteggio Collaborazione</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Custom_Create_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Crea Valutazione</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Custom_Create</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Valutazione</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Valutazione__c</objectType>
    </variables>
</Flow>
